.workerBlock {
  position: relative;
  width: 172px;
  height: 256px;
  border-radius: 10px;
  box-shadow: 0px 8px 25px rgba(95, 95, 95, 0.15);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: margin 0.7s, box-shadow 0.7s;
  background-color: #fff;
  margin: 0 auto;
}
.workerBlock:hover {
  box-shadow: 0px 8px 25px rgba(120, 120, 120, 0.25);
  transition: margin 0.7s, box-shadow 0.7s;
}
.isSelected {
  box-shadow: 0px 6px 25px rgba(95, 95, 95, 0.15);
  transition: margin 0.7s, box-shadow 0.7s;
  margin: 15px 0 -15px 0;
}
.isSelected:hover {
  box-shadow: 0px 6px 25px rgba(95, 95, 95, 0.15);
  transition: margin 0.7s, box-shadow 0.7s;
  margin: 15px 0 -15px 0;
}
.photo {
  width: 100%;
  height: 55%;
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  transition: .7s;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
}
.fullName {
  margin: 14px 7px 7px 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: #2E55A2;
}
.specialty {
  margin-left: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #333333b3;
}
.specialty li {
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .workerBlock {
    width: 34vw;
    height: 53vw;
    border-radius: 3vw;
  }
  .photo {
    height: 28vw;
    border-radius: 3vw 3vw 0 0;
  }
  .fullName {
    margin: 1.5vw 1vw 1vw 1vw;
    font-size: 3vw;
  }
  .specialty {
    margin-left: 0.4vw;
    font-size: 2.5vw;
    line-height: 3vw;
  }
}
